<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeconMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/node_modules/boxicons/css/boxicons.min.css"> 

  
  

</head>
<body>
<header class="shadow-sm">
  <img src="" alt="">

  <nav>
<ul class="nav_links">
  <li><a href="">Accueil</a></li>
  <li><a href="">Communiqué</a></li>
  <li><a href="">Professeurs</a></li>
  <li><a href="">contact</a></li>
</ul>

  </nav>
  <a href=""> Connexion</a>
</header>

</nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Peter kofi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/node_modules/bootstrap/jsmin/bootstrap.min"></script>
    <script src="~/node_modules/jquery/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
            interval: 90000
        })
      })
    </script>
</body>
</html>
